---
import MainLayout from "@layouts/MainLayout.astro"

---

<MainLayout>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <h1 class="text-5xl capitalize">
            Favoritos
        </h1>
    </section>
</MainLayout>