---
import { FavoritePokemos } from "@componentes/pokemons/FavoritePokemons"
import Title from "@componentes/shared/Title.astro"
import MainLayout from "@layouts/MainLayout.astro"

---

<MainLayout>
    <Title>Favoritos</Title>

    <FavoritePokemos client:only="solid-js"/>
</MainLayout>